Repository frequenz-floss/frequenz-client-assets-python, pull requests merged in 2025-08, with the labels that each got.

#21 Implement initial Assets API client with CLI support
  CODEOWNERS
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/assets/__init__.py
  src/frequenz/client/assets/_client.py
  src/frequenz/client/assets/cli/__main__.py
  src/frequenz/client/assets/exceptions.py
  src/frequenz/client/assets/types.py
  tests/__init__.py
  tests/conftest.py
  tests/helpers/__init__.py
  tests/helpers/assertions.py
  tests/helpers/factories.py
  tests/helpers/test_data.py
  tests/test_client.py
  tests/test_frequenz_client_assets.py
Labels: part:docs, part:tests, part:tooling

#22 Bring project files up to date
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/release-notes-check.yml
  pyproject.toml
Labels: part:tooling

#35 Add missing workflow to test PRs
  .github/workflows/ci-pr.yaml
Labels: part:tooling

#37 Move documentation from class to Attributes
  src/frequenz/client/assets/types.py
Labels: cmd:skip-release-notes
